.images {
  display: inline;
  margin: 0px;
  padding: 0px;
}

#content {
  display: block;
  margin: 0px;
  padding: 0px;
  position: relative;
  /* white-space: nowrap; */
  /* top: 50px; */
  height: 144px;
  max-width: 150px;
  width: 100%;
  overflow-y: hidden;
  overflow-x: auto;
}
.column_adj {
  float: left;
  /* width: 20%; */
  padding: 3px;
}

/* Clearfix (clear floats) */
.row_adj::after {
  content: "";
  clear: both;
  display: table;
}
body {
  background: #f3f5f6;
}

.pad_row {
  padding: 10px 150px 10px 10px;
}
